# these settings are only used if you use the
# org.drftpd.sections.conf.SectionManager in drftpd.conf

# Minimun Transfer Speed per Section:
# x.minspeed=DownloadRate UploadRate
#
# A rate is anything Bytes.parseBytes can understand followed by /s
# So for example: 2gb/s 2mb/s 2kb/s 2b/s
# are all valid.
#

1.path=/apps
1.name=APPS
# no minimum limits
1.minspeed=0b/s 0b/s

2.type=dated
2.path=/mp3
2.name=MP3
2.dated=MMdd
2.now=-today
# require at least 10kb/s download, and 1000kb/s upload
2.minspeed=10kb/s 1000kb/s
